<br/>
<div class="m-5 row text-center">
  <div class="col"></div>
  <div class="col">
    <h1>Welcome</h1>
    <br/>
    <form [formGroup]="searchCityWeatherFormGroup" (ngSubmit)="onSubmit(searchCityWeatherFormGroup.value)">
      <input class="form-control" type="search" placeholder="City" aria-label="Search"
             [formControlName]="'city'">
      <select class="custom-select" [formControlName]="'language'">
        <option value="" disabled>Choose your language (optional)</option>
        <option *ngFor="let language of keys()" ngValue="{{language}}">{{language}}</option>
      </select>
      <button class="btn btn-primary" type="submit">search</button>
    </form>
    <ng-container *ngIf="(result | async) as station">
      <app-weatherinfo [weatherstation$]="result"></app-weatherinfo>
    </ng-container>
    <br/>
  </div>
  <div class="col">
  </div>
</div>
