<div *ngIf="(weatherstation$ | async) as weatherstation" class="card">
  <div class="card-body">
    <h1 class="card-title">{{weatherstation.name}}</h1>
    <small class="text-secondary">{{weatherstation.id}}</small>
    <div class="card-text">
      <b>Base: </b> {{weatherstation.base}} <br/>
      <b>Clouds: </b> {{weatherstation.clouds.all}}%<br/>
      <b>Cod: </b> {{weatherstation.cod}} <br/>
      <b>Coords: </b> <br/>

      <b>Lon: </b> {{weatherstation.coord.lon}} <br/>
      <b>Lat: </b> {{weatherstation.coord.lat}} <br/>

      <b>Temperatur: </b> {{weatherstation.main.temp}} <br/>
      <b>Gefühlt wie: </b> {{weatherstation.main.feels_like}} <br/>
      <b>Feuchtigkeit: </b> {{weatherstation.main.humidity}} <br/>
      <b>Druck: </b> {{weatherstation.main.pressure}} <br/>
      <b>Max Temp: </b> {{weatherstation.main.temp_max}} <br/>
      <b>Min Temp: </b> {{weatherstation.main.temp_min}} <br/>

      <b>Land: </b> {{weatherstation.sys.country}} <br/>
      <b>Id: </b> {{weatherstation.sys.id}} <br/>
      <b>Nachricht: </b> {{weatherstation.sys.message}} <br/>
      <b>Sonnenaufgang: </b> {{util.getDate(weatherstation.sys.sunrise)}} <br/>
      <b>Sonnenuntergang </b> {{util.getDate(weatherstation.sys.sunset)}} <br/>
      <b>Typ: </b> {{weatherstation.sys.type}} <br/>

      <b>Sichtbarkeit: </b> {{weatherstation.visibility}} <br/>

      <b>Beschreibung: </b> {{weatherstation.weather[0].description}} <br/>
      <b>Icon: </b> <img id="wicon" src="http://openweathermap.org/img/w/{{weatherstation.weather[0].icon}}.png"  alt="Weather icon"> <br/>
      <b>Id Wetter: </b> {{weatherstation.weather[0].id}} <br/>
      <b>Info: </b> {{weatherstation.weather[0].main}} <br/>

      <b>Winkel: </b> {{weatherstation.wind.deg}} <br/>
      <b>Geschwindigkeit: </b> {{weatherstation.wind.speed}} <br/>
    </div>
  </div>
</div>
